
{
    "template_id" : "core-more-button-purchases-template",
    "layout" : 
    {
        "pml_version" : "0.1.0",
        "component" : 
        {
            "type" : "TOUCHABLE",
            "accessibilityHint" : "{{localize COPY.accessibilityHint}}",
            "onPress" : 
            {
                "actionType" : "OPEN",
                {{#if pppParameterizedPageDeeplink.isEmpty}}
                    "target" : "nl.picnic-supermarkt://store/page;id=purchases-page-root-category-{{moreButtonDeeplink}}"
                {{else}}
                    "target" : "nl.picnic-supermarkt://store/page;id=purchases-page-root-category,identifier={{moreButtonDeeplink}}"
                {{/if}}
            }
        }
    }
}