{
    "template_id": "core-list-item-template",
    "on_press": { 
                {{#if actionType}}
                "action_type": "{{actionType}}",
                {{else}}
                "action_type": "OPEN",
                {{/if}}
                "target": {{{template 'core-deeplink-resolver' deeplink=deeplink}}} 
    }
}